:host {
  display: flex;
  flex-grow: 1;
}

.viewer,
.view,
.diff {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.diff {
  margin-top: unset;
  margin-left: 16px;
  min-width: 200px;
  height: 100%;
  overflow: auto;
  max-height: 600px;
}

#viewer_canvas {
  box-shadow: 0 0 0.5em lightgray;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  flex-direction: column;
}

.base {
  color: red;
}
.target {
  color: lime;
}

.sub {
  font-weight: 300;
  color: gray;
  .label {
    font-weight: 500;
  }
}

#tooltip {
  //display: flex;
  position: absolute;
  pointer-events: none;
  background-color: #000000a0;
  border-radius: 4px;
  color: white;
  min-height: 50px;
  z-index: 50;
  overflow: hidden;
  visibility: hidden;
  &.visible {
    visibility: visible;
  }
}
