<div class="view">

    <!-- <div id="props" *ngIf="properties?.entityId" [style.margin-left.px]="properties.x"
        [style.margin-top.px]="properties.y">
        <table>
            <tr>
                <th>Type</th>
                <th>Description</th>
            </tr>
            <tr>
                <td>ID</td>
                <td>{{properties.entityId}}</td>
            </tr>
            <tr>
                <td>Model</td>
                <td>{{properties.assetModel.assetModelId}}</td>
            </tr>
        </table>
    </div> -->

    <div id="viewer_canvas"></div>

    <mat-progress-bar *ngIf="(modelLoading$ | async).loading" color="primary" mode="determinate"
        [value]="(modelLoading$ | async).percent"></mat-progress-bar>

</div>
<div class="diff">
    <div class="baseline">{{(activeDiff$ | async).SourceAssetModel.Name}}</div>
    <div class="target">{{(activeDiff$ | async).TargetAssetModel.Name}}</div>
    <div class="lost">
        Lost
        <div class="lostitem" *ngFor="let lost of (activeDiff$ | async).LostEntities">
            {{lost.IfcType.Name}}-{{lost.Name}}
        </div>

    </div>

    <div class="found">
        Found
        <div class="founditem" *ngFor="let found of (activeDiff$ | async).FoundEntities">
            {{found.IfcType.Name}}-{{found.Name}}
        </div>

    </div>

    <div class="candidates">
        <b>Matches</b>
        <div class="candidateitems" *ngFor="let candidate of (activeDiff$ | async).CandidateMatches">
            {{candidate.SourceEntity.Name}}:
            <div class="match" *ngFor="let match of candidate.Matches">
                {{match.TargetEntity.Name}}
            </div>
        </div>

    </div>
</div>