<div id="container">
  <div class="side">

    <app-sidebar></app-sidebar>
  </div>


  <div id="main">
    <div id="header" *ngIf="loggedIn$ | async">
      <div id="tenant">
        <h1>{{(activeTenant$|async)?.Name}} {{(activeAsset$ | async)? ' - ': ''}} {{(activeAsset$ | async)?.Name}}</h1>
      </div>
      <div class="profile">
        <button mat-mini-fab class="avatar">{{initials$ | async}}</button>
        <app-notifications></app-notifications>
      </div>
    </div>
    <div id="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>