<nav>
  <ul>
    <li>
      <img src="/assets/xBim_flex_partner_logo_dark.png" class="logo">

    </li>
    <li>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        Home
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/auth">
        <mat-icon>login</mat-icon>
        Authentication
      </a>
    </li>

    <li>
      <a routerLinkActive="active" [routerLink]="['tenants']">
        <mat-icon>account_balance</mat-icon>
        Tenants
      </a>
    </li>


    <mat-divider></mat-divider>
    <ul *ngIf="tenantLoaded">
      <ng-container *ngFor="let menu of menuItems">
        <li *ngIf="!menu.type">
          <a routerLinkActive="active" [routerLink]="[(tenant.identifier || tenant.tenantId), menu.routeLink]">
            <mat-icon>{{menu.icon}}</mat-icon>
            {{menu.name}}
          </a>
        </li>
        <mat-divider *ngIf="menu.type === 'divider'"></mat-divider>
      </ng-container>
    </ul>
  </ul>
</nav>