<nav>
  <ul>
    <li>
      <img src="/assets/xBim_flex_partner_logo_dark.png" class="logo">

    </li>
    <li>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/']">
        <mat-icon>home</mat-icon>
        Home
      </a>
    </li>
    <li>
      <a routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/auth">
        <mat-icon>login</mat-icon>
        Authentication
      </a>
    </li>

    <li>
      <a routerLinkActive="active" [routerLink]="['tenants']">
        <mat-icon>account_balance</mat-icon>
        Tenants
      </a>
    </li>


    <mat-divider></mat-divider>
    <ul>
      <ng-container *ngIf="tenantLoaded">
        <li *ngFor="let menu of menuItems">
          <a routerLinkActive="active" [routerLink]="[(tenant.Identifier || tenant.TenantId), menu.routeLink]">
            <mat-icon>{{menu.icon}}</mat-icon>
            {{menu.name}}
          </a>
        </li>
      </ng-container>
    </ul>

  </ul>
</nav>