<div>
  <h1>Models</h1>
  <div>

    <div>
      <flex-table [stateType]="stateType" [displayedColumns]="orderedColumns" [columnDefinitions]="definedColumns"
        [comparer]="comparer">
      </flex-table>
    </div>

    <h2>Active Asset Filters</h2>
    <div *ngIf="assetFilterCount$ | async as assetFilterCount; else noAssetFilterRow">
      <table>
        <tr *ngFor="let assetFilter of assetFilters$ | async">
          <td><b>{{assetFilter.asset.AssetId}}</b></td>
          <td>{{assetFilter.asset.Name}}</td>
        </tr>
      </table>
    </div>
    <ng-template #noAssetFilterRow let-assetFilterCount>
      <b>No Asset Filters have been applied</b>
      <p>To restrict searches to specific assets go the the asset index</p>
    </ng-template>

  </div>
</div>